#log {
    height: 200px;
    width: 600px;
    overflow: scroll;
}

body {
    width: 100%;
}

#player {
    width: 80%;
}

.container {
    display: grid;
    width: 100%;
    height: 80vh;
    background-color: yellow;
    grid-template-columns: auto auto auto;
}

.control-area.play {
    background-color: darkblue;
}

.control-area.backward {
    background-color: darkcyan;
}

.control-area.backward {
    background-color: lightgreen;
}
