/* Box sizing rules */*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Real */

#log {
    height: 200px;
    width: 600px;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .6);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#player {
    width: 95%;
}

.container {
    display: grid;
    width: 88%;
    height: 70%;
    background-color: lightseagreen;
    grid-template-columns: auto auto auto;
}

.control-area.play {
    background-color: darkblue;
}

.control-area.backward {
    background-color: darkcyan;
}

.control-area.backward {
    background-color: lightgreen;
}

#osc-app {
    /* padding: 300px 200px; */
    padding: 400px 350px;
    border: 2px solid rgb(0, 0, 255);
    overflow-x: scroll;
    overflow-y: scroll;
}

#osc-item-list {
    width: 1200px;
    height: 100%;

    list-style-type: none;
    display: grid;
    /* grid-template-columns: repeat(24, 0.5fr); */
    grid-template-columns: repeat(24, minmax(0, 1fr));
}

.osc-item {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px dashed rgb(12, 12, 227);
    transition: transform 1s ease;
}

.osc-item:nth-child(2n) {
  background-color: rgb(197, 233, 245);
}

.osc-item input[type="range"] {
    height: 250px;
    appearance: slider-vertical;
    -webkit-appearance: slider-vertical;
}

/* Audio stuff */
audio::-webkit-media-controls-panel {
    background-color: lightcyan;
    color: yellow;
    border-radius: 0 !important;
}

/* Animation */
.spin-element {
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform:rotate(360deg);
  }
}
